.total-container {
  width: 100%;
  min-height: 100vh;
  background-color: orange;
  /* background-image: url(../images/five.jpg); */
  /* max-height: max-content; */
}
.card-container {
  display: grid;
  min-width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  place-items: center;
  margin-top: 3vh;
}

.card-container > div {
  cursor: pointer;
  border: 1px solid black;
  padding: 5px;
}
.card-container > h4 {
  cursor: pointer;
  border: 1px solid black;
  padding: 5px;
  width: 200px;
  text-align: center;
}
.side-heading h2 {
  padding-left: 50px;
  text-decoration: underline;
  margin-top: 10px;
}
.side-heading h2::after {
  content: ":";
}

/* Home page */
.home-container {
  width: 100%;
  height: 77vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}
.home-container > h2 {
  border: 2px solid black;
  cursor: pointer;
  width: 130px;
  text-align: center;
}

/* Admin page */
.admin-container {
  width: 100%;
  height: 77vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}
.admin-container > h2 {
  border: 2px solid black;
  cursor: pointer;
  width: 200px;
  text-align: center;
}

/* List orders */
.list_orders_heading {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 2vh;
}
.list_orders {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
.list_orders div {
  width: 50%;
}
.list_orders_cart {
  display: flex;
  width: 50vw;
  justify-content: space-between;
}
.list_orders_cart div {
  width: 3%;
}
